@page
@model Assignments.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<h4>Assignment</h4>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Assignment[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Assignment[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Assignment[0].Url)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Assignment[0].IsLtiLink)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Assignment)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Url)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsLtiLink)
            </td>
            <td>
                <a asp-page="./Launch" asp-route-assignmentId="@item.Id" asp-route-returnUrl="@Model.ReturnUrl">Launch</a> |
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
